.images img{
    max-width: 400px;
}

.button button{
    border-radius: 10px;
    font-size: 20px;
    border-color: white;
    background-color: white;
    border: none;
    box-shadow: 5px 5px 10px rgb(54, 50, 50);
}

.button .bu:hover{
    background-color: rgb(235, 230, 230);

}

.footer a{
    text-decoration: none;
    color: grey;
}

.dropdown a{
    color: black;
}

.dropdown a:hover{
    color: black;
}

.para h1{
    font-size: 60px;
}

.para p{
    font-size: 20px;
    color: gray;
}

.para input{
    border: 1px solid grey;
    padding: 5px;
    border-radius: 5px;
}

.buttons button{
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
}

